<div class="container">
  <div class="row">
    <div class="panelbox col-sm-12 col-lg-6 col-xl-4" [routerLink]="['airports']">
      <div class="panelstyle">
        <div class="panelicon">
          <fa name="plane"></fa>
        </div>
        <div class="paneltitle">
          <h2> Airport</h2>
        </div>
        <div class="panelsubtitle">
          <h4> Airport Details</h4>
        </div>
      </div>
    </div>

    <div class="panelbox col-sm-12 col-lg-6 col-xl-4" [routerLink]="['fare']">
      <div class="panelstyle">
        <div class="panelicon">
          <fa name="money"></fa>
        </div>
        <div class="paneltitle">
          <h2> Airport Fares </h2>
        </div>
        <div class="panelsubtitle">
          <h4> Search and compare airport fares </h4>
        </div>
      </div>
    </div>
  </div>
</div>