<footer class="footer fixed-bottom">

	<div class="fb-share-button" data-href="https://klm-travel-assignment.firebaseapp.com/dev/dashboard" data-layout="button"
	    data-size="large">
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
		    class="fb-xfbml-parse-ignore">Share</a>
	</div>
	<span class="" style="margin-top:12px">
		<a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world" data-size="large">
			Tweet</a>
		<!-- <a href="https://api.whatsapp.com/send?text=Hello KLM" target="_blank">WA</a> -->
		<a class="whatsapp-share-button" target="_blank" href="https://web.whatsapp.com/send?text=www.google.com" data-action="share/whatsapp/share">Whatsapp</a>
	</span>


	<div class="text-muted">
		<span class="color-font">&copy;AFKLM 2019,Travel Client Portal</span>
	</div>
</footer>