<div class="container">
  <h1>Profile</h1>
  <div class="main col-md-12 col-lg-12">
    <div class="panel-container col-lg-12">
      <div class="row">
        <div class="panelicon col-sm-6">
          <img src="../../../assets/img/profile.png" class="img-border">
        </div>
        <div class="paneldestription col-sm-6">
          <h2>User name: {{profile.name}}</h2>
          <h2>User ID: {{profile.clientid}}</h2>
          <h2>Email: {{profile.email}}</h2>
          <h2>Phone: {{profile.tel}}</h2>
          <h2>Accountmanager: {{profile.accountmanager}}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="submain col-lg-12 col-md-12">
    <h1 class="submain-title">My accounts</h1>
    <div class="row">

      <!---First subaccount -->
      <div class="panelbox col-sm-6 col-lg-4 col-md-4">
        <div class="panelstyle">
          <div class="panelbox">
            <img src="../../../assets/img/profile.png" class="img-border"> </div>
          <div class="panelname">
            <h4>First Subaccount</h4>
            <h4>First User account</h4>
          </div>
        </div>
      </div>

      <!--Second subaccount-->
      <div class="panelbox col-sm-6 col-lg-4 col-md-4">
        <div class="panelstyle">
          <div class="panelbox">
            <img src="../../../assets/img/profile.png" class="img-border">
          </div>
          <div class="panelname">
            <h4>Second subaccount</h4>
            <h4>Second User account</h4>
          </div>
        </div>
      </div>
      <!--Third subaccount-->
      <div class="panelbox col-sm-6 col-lg-4 col-md-4">
        <div class="panelstyle">
          <div class="panelbox">
            <img src="../../../assets/img/profile.png" class="img-border">
          </div>
          <div class="panelname">
            <h4>Third subaccount</h4>
            <h4>Third User account</h4>
          </div>
        </div>
      </div>

      <!--Fourth subaccount-->
      <div class="panelbox col-sm-6 col-lg-4 col-md-4">
        <div class="panelstyle">
          <div class="panelbox">
            <img src="../../../assets/img/profile.png" class="img-border">
          </div>
          <div class="panelname">
            <h4>Fourth subaccount</h4>
            <h4>Fourth User account</h4>
          </div>
        </div>
      </div>
      <!--Fifth subaccount-->

      <div class="panelbox col-sm-6 col-lg-4 col-md-4">
        <div class="panelstyle">
          <div class="panelbox">
            <img src="../../../assets/img/profile.png" class="img-border">
          </div>
          <div class="panelname">
            <h4>Fifth subaccount</h4>
            <h4>Fifth User account</h4>
          </div>
        </div>
      </div>

      <!--Six subaccount-->
      <div class="panelbox col-sm-6 col-lg-4 col-md-4">
        <div class="panelstyle">
          <div class="panelbox">
            <img src="../../../assets/img/profile.png" class="img-border">
          </div>
          <div class="panelname">
            <h4>Sixth subaccount</h4>
            <h4>Sixth User account</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>